@font-face {
  font-family: "HelveticaRegular", sans-serif;
  src: url("../fonts/HelveticaRegular.otf");
}


* {
  font-family: "HelveticaRegular", sans-serif;
  font-weight: lighter;
}

body {
  position: relative;
  padding-bottom: 60px;
}

a,
a:visited {
  color: #003dda;
}

.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pt26 {
  padding-top: 26px;
}

input[type="text"] {
  height: 50px;
  border-radius: 5px;
  outline: none;
  width: 90%;
  font-size: 16px;
  border: none;
  border: 2px solid #003dda;
}

input[type="number"] {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  border: none;
  border: 2px solid #003dda;
}

.go {
  background: palegreen;
  margin: 10px 0;
  font-size: 20px;
  font-weight: lighter;
  border: none;
  outline: none;
  padding: 5px;
  border: 1px solid palegreen;
  border-radius: 5px;
}

.go:hover {
  opacity: 0.8;
  cursor: pointer;
}

.tools {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.themes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.themeItem {
  margin: 10px;
}

.themeItem img {
  border-radius: 5px;
  width: 300px;
  box-shadow: 0px 0px 3px #ccc;
}

.themeItem label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  margin-top: 5px;
}

input[type="radio"]:checked + img {
  box-shadow: 0 0 0 2px #003dda;
}

.link_theme1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*  align-items: center; */
  justify-content: center;
  /* justify-content: space-around; */
  font-size: 40px;
  color: #9039fd;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 0px #fff;
}

.link_theme1:before {
  content: "";
  background: url("../img/youtube-2.png");
  width: 50px;
  height: 50px;
  display: block;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.link_theme2:before {
  content: "";
  background: url("../img/youtube-1.png");
  width: 55px;
  height: 55px;
  display: block;
  background-size: 55px 55px;
  background-repeat: no-repeat;
}

.link_theme2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*  align-items: center; */
  justify-content: center;
  /* justify-content: space-around; */
  font-size: 40px;
  color: #ffd000;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 0px #bf1f00;
}

.link_theme3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*  align-items: center; */
  justify-content: center;
  /* justify-content: space-around; */
  font-size: 40px;
  color: #e9e8e6;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 0px red;
}

.link_theme3:before {
  content: "";
  background: url("../img/youtube-3.png");
  width: 55px;
  height: 55px;
  display: block;
  background-size: 55px 55px;
  background-repeat: no-repeat;
}

.link_themene_creator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*  align-items: center; */
  justify-content: center;
  /* justify-content: space-around; */
  font-size: 40px;
  color: #06bbff;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 0px #ccc;
}

.link_themene_creator:before {
  content: "";
  background: url("../img/ne_creator_logo.png");
  width: 55px;
  height: 55px;
  display: block;
  background-size: 55px 55px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.link_theme1 label,
.link_theme2 label,
.link_theme3 label,
.link_themene_creator label {
  margin: 5px;
}

.language {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
}

.sign {
  /* visibility: hidden; */
  font-size: 18px;
  animation: visible 1800s infinite ease;
}

@keyframes visible {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.sign::before {
  display: none;
}

.flag_icon {
  width: 100%;
  display: flex;
  align-items: center;
}

.flag_icon::before {
  background-image: url("../img/us_flag.png");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  margin-right: 5px;
}
.downloads, .donation {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.downloads__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation__link {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.donation__link__1:before {
  background-image: url("../img/socials__tinkoff.png");
  background-size: 48px 48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  content: "";
  margin-right: 5px;
}

.donation__link__2:before {
  background-image: url("../img/socials__yandex.png");
  background-size: 48px 48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  content: "";
  margin-right: 5px;
}

.donation__link__3:before {
  background-image: url("../img/socials__alerts.png");
  background-size: 48px 48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  content: "";
  margin-right: 5px;
}

.downloads__link__windows:before {
  background-image: url("../img/icon__windows.png");
  background-size: 48px 48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  content: "";
  margin-right: 5px;
}

.downloads__link__macos:before {
  background-image: url("../img/icon__macos.png");
  background-size: 48px 48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  content: "";
  margin-right: 5px;
}

.downloads__link__linux:before {
  background-image: url("../img/icon__linux.png");
  background-size: 48px 48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  content: "";
  margin-right: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;
  bottom: 0;
  height: 40px;
  font-size: 14px;
}

footer label {
  margin: 0;
}

.footer__label1:after {
  background-image: url("../img/heart__icon.png");
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  margin-right: 5px;
  margin-left: 5px;
}
